{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Login{% endblock %}

{% block page_body %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<br>
{% if email_enabled %}
<p><a href="{% url 'auth_password_reset' %}">{% trans "Forgot my password" %}</a></p>
{% endif %}
<p><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
{% endblock %}
