makeit/data/local_db_dumps filter=lfs diff=lfs merge=lfs -text
makeit/data/prioritization filter=lfs diff=lfs merge=lfs -text
makeit/data/user_saves filter=lfs diff=lfs merge=lfs -text
makeit/data/context filter=lfs diff=lfs merge=lfs -text
makeit/data/fast_filter filter=lfs diff=lfs merge=lfs -text
makeit/data/forward_scoring filter=lfs diff=lfs merge=lfs -text
makeit/data/historian filter=lfs diff=lfs merge=lfs -text
makeit/data/local_db_dumps/synthtransformer_using_reaxys-transforms_forward_v1_mincount25.pkl filter=lfs diff=lfs merge=lfs -text
makeit/data/local_db_dumps/abraham_solvents.pkl filter=lfs diff=lfs merge=lfs -text
makeit/data/local_db_dumps/__init__.py filter=lfs diff=lfs merge=lfs -text
makeit/data/local_db_dumps/pricer_using_reaxys_v2-chemicals_and_reaxys_v2-buyables.pkl filter=lfs diff=lfs merge=lfs -text
makeit/data/local_db_dumps/retrotransformer_achiral_using_reaxys_v2-transforms_retro_v6_mincount10.pkl filter=lfs diff=lfs merge=lfs -text
makeit/data/local_db_dumps/retrotransformer_achiral_using_reaxys_v2-transforms_retro_v6_mincount25.pkl filter=lfs diff=lfs merge=lfs -text
makeit/data/local_db_dumps/retrotransformer_chiral_using_reaxys_v2-transforms_retro_v9_mincount10_mincountchiral5.pkl filter=lfs diff=lfs merge=lfs -text
makeit/data/local_db_dumps/retrotransformer_chiral_using_reaxys_v2-transforms_retro_v9_mincount25_mincountchiral10.pkl filter=lfs diff=lfs merge=lfs -text
makeit/data/prioritization/mincost filter=lfs diff=lfs merge=lfs -text
makeit/data/prioritization/scscore filter=lfs diff=lfs merge=lfs -text
makeit/data/prioritization/template_relevance_network_weights_v9_10_5.pickle filter=lfs diff=lfs merge=lfs -text
makeit/data/prioritization/template_relevance_network_weights_v9_25_10.pickle filter=lfs diff=lfs merge=lfs -text
makeit/data/context/fp256noFtr_NN10_BT.pickle filter=lfs diff=lfs merge=lfs -text
makeit/data/context/NeuralNet_Cont_Model filter=lfs diff=lfs merge=lfs -text
makeit/data/context/RxnID_infoFull.txt filter=lfs diff=lfs merge=lfs -text
makeit/data/fast_filter/fast_filter_cleandata.h5 filter=lfs diff=lfs merge=lfs -text
makeit/data/fast_filter/__init__.py filter=lfs diff=lfs merge=lfs -text
makeit/data/fast_filter/my_model.h5 filter=lfs diff=lfs merge=lfs -text
makeit/data/forward_scoring/weights.h5 filter=lfs diff=lfs merge=lfs -text
makeit/data/forward_scoring/args.json filter=lfs diff=lfs merge=lfs -text
makeit/data/forward_scoring/model.json filter=lfs diff=lfs merge=lfs -text
makeit/data/historian/chemicals.pickle filter=lfs diff=lfs merge=lfs -text
makeit/data/historian/chemicals.pickle_bkp filter=lfs diff=lfs merge=lfs -text
makeit/data/historian/chemicals.pickle_no_refs filter=lfs diff=lfs merge=lfs -text
makeit/data/historian/chemicals.pickle_no_refs_compressed filter=lfs diff=lfs merge=lfs -text
makeit/data/historian/__init__.py filter=lfs diff=lfs merge=lfs -text
makeit/data/historian/reactions.pickle filter=lfs diff=lfs merge=lfs -text
makeit/data/context/NeuralNet_Cont_Model/weights.h5 filter=lfs diff=lfs merge=lfs -text
makeit/data/prioritization/template-relevance-50k-pretrained.hdf5 filter=lfs diff=lfs merge=lfs -text
makeit/data/prioritization/template-relevance-50k.hdf5 filter=lfs diff=lfs merge=lfs -text
makeit/data/prioritization/template-relevance-reaxys_v9_10_5.hdf5 filter=lfs diff=lfs merge=lfs -text
*.data* filter=lfs diff=lfs merge=lfs -text
*.pkl* filter=lfs diff=lfs merge=lfs -text
*.pickle* filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
