# Compiled Python modules
*.pyc
*.so
*.pyd

# Bad large data
makeit/data/chemical_names_*
makeit/data/context/fp256noFtr_NN10_BT.pickle
makeit/data/context/flow_condition_data4
test/*
makeit/predict/output/*
output/*
askcos_site/static/admin/*
*celery_logs*

# artfacts from using JupyterLab
*ipynb_checkpoints*

# ignore SSL key
deploy/askcos.ssl.cert
deploy/askcos.ssl.key

# ignore pycharm folder
.idea/

