amqp
celery
Cython
Django
django-extensions
django-registration
h5py
hdbscan
keras
mysqlclient
matplotlib
numpy>=1.16.0
pillow
pycairo
pymongo
PyYAML
redis
scipy
scikit-learn
sklearn
tensorflow==1.13.1
theano>=1.0.4
tqdm
uWSGI
sphinx
cachetools
