amqp
celery
Django
django-extensions
django-registration
h5py
keras
mysqlclient
matplotlib
numpy
pandas
pillow
pycairo
pymongo
PyYAML
redis
scipy
scikit-learn
tensorflow==1.13.1
theano
tqdm
uWSGI
sphinx
cachetools
