amqp
celery
Cython
Django
django-extensions
django-registration
gevent
h5py
hdbscan
keras==2.2.4
mysqlclient
matplotlib
numpy>=1.16.0
pandas
pillow
pycairo
pymongo
PyYAML
redis
scipy
scikit-learn
sklearn
tensorflow==1.13.1
theano>=1.0.4
tqdm
uWSGI
sphinx
cachetools
rdchiral