#network {
    width: 100%;
    height: 70vh;
    border: 1px solid lightgray;
}

#hierarchical-button {
  font-weight: bold;
}

.blue-text {
    font-weight: bold;
    color: #000088;
}

.red-text {
    font-weight: bold;
    color: #880000
}

.green-text {
    font-weight: bold;
    color: #008800
}

.popover[class*="tour-"].orphan {
left: 50% !important;
top: 50% !important;
margin-top: 0;
position: absolute;
transform: translate(-50%, -50%) !important;
}

.left-pane {
  border-right: 1px solid lightgray;
}

.details {
    position: sticky;
    top: 75px;
}

.scroll-list {
    max-height: 45vh;
    overflow-y: scroll;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.customtooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.customtooltip:hover {
  color: #1157a7;
}

.customtooltip .customtooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.customtooltip .customtooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.customtooltip:hover .customtooltiptext {
  visibility: visible;
}

.loader {
    display: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -75px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mx-auto {
    margin: 10px auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-25 {
    margin-left: 25px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 75%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #333333;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
