{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Tree Builder Graph Visualization{% endblock %}

{% block extrahead %}
<script src="{% static 'js/browser-compat.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/loader.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/vis.min.css' %}" type="text/css">
<script src="{% static 'js/vis.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/tree-graph.css' %}" type="text/css">
{% endblock %}

{% block page_title %}Tree Builder Graph Visualization{% endblock %}

{% block page_body %}

<div id="app" data-id="{{ id }}" class="container-fluid">
  <button class="btn btn-danger blacklist" @click="blacklist">Blacklist</button>
</div>
<div class="loader"></div>

<script src="{% static 'js/tree-graph.js' %}"></script>

{% endblock %}
