<!-- Popup drawing tool -->
<div class="modal fade" id="drawingbox">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body" style="height:430px;">
          <div id="jsme_container" style="margin:auto"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="setSmilesText();">Done drawing</button>
        </div>
        
      </div>
    </div>
</div>