{% extends "base.html" %}

{% block title %}Blacklisted Reactions{% endblock %}
{% block page_title %}Your blacklisted reactions{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url 'user_blacklisted_reactions' %}">Blacklisted</a>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block javascript %}
<script>
$('#blacklisted_reactions').on('click', '.toggle_activation', function () {
    var block = $(this);
    if (block.html() === "True") {
    	console.log('trying to deactivate');
    	$.ajax({
	        url: '/ajax/user_deactivate_reaction/',
	        data: {
	            id: block.attr("id"),
	        },
	        dataType: 'json',
	        success: function (data) {
	            if (data.err) {
	                alert(data.err);
	            } else {
	                block.html('False');
	            }
	        }
	    });
    } else {
    	console.log('trying to reactivate');
    	$.ajax({
	        url: '/ajax/user_activate_reaction/',
	        data: {
	            id: block.attr("id"),
	        },
	        dataType: 'json',
	        success: function (data) {
	            if (data.err) {
	                alert(data.err);
	            } else {
	                block.html('True');
	            }
	        }
	    });
    };
    
});
</script>
{% endblock %}

{% block page_body %}

{% if blacklisted_reactions %}
<table class="table" id="blacklisted_reactions">
<tr>
	<th width="10%">Active</th>
	<th width="15%">Created</th>
	<th width="50%">Reaction</th>
	<th width="20%">Description</th>
    <th width="5%">Delete</th>
</th>
{% for blacklisted_reaction in blacklisted_reactions %}
<tr>
	<td class="pseudolink toggle_activation" id="{{ blacklisted_reaction.id }}">{{ blacklisted_reaction.active }}</td>
	<td>{{ blacklisted_reaction.created }}</td>
	<td><img src="" data-async-load="{% url 'draw_reaction' blacklisted_reaction.smiles %}" alt="{{ blacklisted_reaction.smiles }}" width="100%"></td>
	<td>{{ blacklisted_reaction.description }}</td>
    <td><a href="{% url 'main.views.user_blacklisted_reactions_del' blacklisted_reaction.id %}" onclick="return confirm('Are you sure you want to delete this blacklisted reaction? You can always deactivate it temporarily.');">X</a></td>
</th>
{% endfor %}
</table>
{% else %}
Looks like there's nothing here!
{% endif %}

{% endblock %}

