{% extends "base.html" %}

{% block title %}Reaction Evaluator{% endblock %}
{% block page_title %}Reaction Evaluator<span id="status"></span>{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url 'main.views.evaluate_rxnsmiles' %}">Evaluator</a>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block javascript %}
<script>
$("#reactants, #product").change(function () {
	console.log( $(this).val() );
	$("#results").hide();
	$.ajax({
		url: '/ajax/rxn_to_image/',
		data: {
			reactants: $("#reactants").val(),
			product: $("#product").val(),
		},
		dataType: 'json',
		success: function (data) {
			if (data.err) {
				$("#rxn_mol_wrapper").show();
				$("#rxn_image").html('error! could not parse');
				$("#controls_wrapper").hide();
				$("#rxn_smiles_wrapper").hide();
			} else {
				$("#rxn_image").html(data.html);
				$("#rxn_mol_wrapper").show();
				$("#rxn_smiles_wrapper").show();
				$("#controls_wrapper").show();
				$("#reactants").val(data.reactants);
				$("#product").val(data.product);
				$("#rxn_smiles").val(data.smiles);
			}
		},
	});

});
$("#get_plausibility").click(function () {
	console.log('starting synth');
	$.ajax({
		url: '/ajax/evaluate_rxnsmiles/',
		data: {
			smiles: $("#rxn_smiles").val(),
			necessary_reagent: $("#necessary_reagent").is(":checked"),
			verbose: true,
		},
		dataType: 'json',
		success: function (data) {
			if (data.err) {
				alert(data.message);
			} else {
				$("#results").html(data.html);
				$("#results").show();
			}
		}
	});
});
// On load, if entries defined, switch it out
$(document).ready(function() {
	if ("{{reactants}}" != "") {
		$("#reactants").val("{{reactants}}");
		$("#reactants").trigger("change");
	}
	if ("{{product}}" != "") {
		$("#product").val("{{product}}");
		$("#product").trigger("product");
	}
});
</script>
{% endblock %}


{% block page_body %}

<table>
<tr><th>{% csrf_token %}</th></tr>

<tr><th style="vertical-align: text-top; text-align:left">Reactants: </th><td><input id="reactants" maxlength="500" size="40" type="text"/></td></tr>
<tr><th style="vertical-align: text-top; text-align:left">Product: </th><td><input id="product" maxlength="500" size="40" type="text"/></td></tr>

<!-- Placeholder for rendering image after a SMILES string is entered -->
<tr id="rxn_mol_wrapper" style="display:none"><td colspan="2" id="rxn_image"></td></tr>
<tr id="rxn_smiles_wrapper" style="display:none"><td colspan="2" id="rxn_smiles"></td></tr>

<tr id="controls_wrapper" style="display:none">
<td>
	<button type="button" style="width:100%" id="get_plausibility">Evaluate</button>
</td>
<td>
    <input type="checkbox" id="necessary_reagent"> Reagent(s) should contribute heavy atoms<br>
</td>
</tr>

</table>

<!-- Results -->
<br>
<div id="results"></div>
<br>

{% if footnote %}
<br>
<div style="font-size:smaller"><i>{{ footnote }}</i></div>
{% endif %}

{% endblock %}
