{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_title %}FAQ{% endblock %}


{% block page_body %}
Coming soon!
{% endblock %}
<!-- <h1>Temporarily under construction - some modules may not work</h1>
 -->
 <h3>Why can't I find any pathways to my target?</h3>
 <p>placeholder</p>

 <h3>Why doesn't the program find the known literature route to my target?</h3>
 <p>placeholder</p>

 <h3>Why do I get an error message when trying to run an expansion?</h3>
 <p>Because we are running these services locally at MIT, there are a limited number of workers available to perform cmoputationally-intensive tasks. There is a chance that other users were running expansions at the same time, so no available pool of workers was found. In rare cases, these workers may run into an error state and refuse to accept incoming requests, at which time they will be restarted. If you run into any issues, reach out using the Comment link on the upper navigation bar and we will look into the issue ASAP.</p>
