{% extends "base.html" %}

{% block title %}ASKCOS homepage{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}
<p>Welcome to the ASKCOS website! Here, we have hosted a number of computational tools to assist in synthetic planning. These are listed in the sidebar to the left.

If you have any questions or if any of the links/images appear broken, please email <a href="mailto:ccoleymit.edu">ccoley@mit.edu</a>.</p>
{% endblock %}