{% extends "base.html" %}

{% block title %}Retrosynthesis Planner{% endblock %}
{% block page_title %}Retrosynthesis Planner<span id="status"></span>{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url 'main.views.retro_interactive' %}">Planner</a>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block javascript %}
<script>
$("#id_smiles").change(function () {
    console.log( $(this).val() );
    $.ajax({
        url: '/ajax/smiles_to_image_retro/',
        data: {
            smiles: $(this).val(),
        },
        dataType: 'json',
        success: function (data) {
            $("#status").html('');
            $("#statistics").html('');
            $("#results").html('');
            $("#start_retro").html('Start');
            if (data.err) {
                $("#target_mol").html('error! could not parse');
                $("#target_mol_wrapper").show();
                $("#controls_wrapper").hide();
                $("#settings_wrapper").hide();
            } else {
                $("#target_mol").html(data.html);
                $("#target_mol_wrapper").show();
                $("#controls_wrapper").show();
                $("#settings_wrapper").show();
                $("#id_smiles").val(data.smiles);
            }
        },
    });

});
$("#start_retro").click(function () {
    if ($("#start_retro").prop('disabled')) {
        alert('Be patient! It is running');
    } else {
        console.log('starting retro');
        $("#start_retro").prop('disabled', true);
        $("#status").html(': running...');
        $("#start_retro").html('In progress...');
        $.ajax({
            url: '/ajax/start_retro_celery/',
            data: {
                smiles: $("#id_smiles").val(),
                max_depth: $("#max_depth").val(),
                max_branching: $("#max_branching").val(),
                retro_mincount: $("#retro_mincount").val(),
                expansion_time: $("#expansion_time").val(),
                max_ppg: $("#max_ppg").val(),
            },
            dataType: 'json',
            success: function (data) {
                if (data.err) {
                    alert(data.message);
                    $("#status").html(': failed?');
                } else {
                    $("#statistics").html(data.html_stats);
                    $("#results").html(data.html_trees);
                    $("#status").html(': done!');
                }
                $("#start_retro").html('Start');
                $("#start_retro").prop('disabled', false);
            }
        });
    }
});
$('#results').on('click', '.rxn', function(){
    console.log('clicked on a rxn box');
    smiles = $(this).attr("smiles");
    targetid = $(this).attr("targetid");
    necessaryreagent = $(this).attr("necessaryreagent");
    console.log(smiles);
    console.log(targetid);
    $.ajax({
        url: '/ajax/evaluate_rxnsmiles/',
        data: {
            smiles: smiles,
            synth_mincount: $("#synth_mincount").val(),
            necessary_reagent: necessaryreagent
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
            if (data.err) {
                alert(data.message);
            } else {
                $(".tooltip" + targetid).css('background-color', data.html_color);
                $(".eval" + targetid).html(data.html);
            }
        }
    });
});
// On load, if entries defined, switch it out
$(document).ready(function() {
    if ("{{target_mol}}" != "") {
        $("#id_smiles").val("{{target_mol}}");
        console.log('Found target from passed context');
    }
    if ($("#id_smiles").val() != "") {
        $("#id_smiles").trigger("change");
        console.log('triggered change in target definition');
    }
});
</script>

{% endblock %}


{% block page_body %}

<table>

<tr><th>Target compound:</th><td colspan="4"><input id="id_smiles" maxlength="500" size="40" type="text"/></td></tr>

<tr><th>{% csrf_token %}</th></tr>

<!-- Placeholder for rendering image after a SMILES string is entered -->
<tr id="target_mol_wrapper" style="display:none"><th style="vertical-align: text-top; text-align:left">Parsed structure:</th><td id="target_mol" colspan="4"></td></tr>

<!-- Settings -->
<tbody id="settings_wrapper" style="display:none">
<tr><th style="vertical-align: bottom; text-align:left">Settings:</th>
<td>
    Max. depth (1-9): </td><td><input type="number" id="max_depth" min="1" max="9" style="width: 5em" value="{{max_depth_default}}">
</td>
<td>
    Max. branching factor: </td><td><input type="number" id="max_branching" min="1" max="200" style="width: 5em"value="{{max_branching_default}}">
</td>
</tr>
<tr><th style="vertical-align: bottom; text-align:left"></th>
<td>
    Min. retro template count: </td><td><input type="number" id="retro_mincount" style="width: 5em" min="{{retro_mincount_default}}" value="{{retro_mincount_default}}">
</td>
<td>
    Min. synth template count: </td><td><input type="number" id="synth_mincount" style="width: 5em" min="{{synth_mincount_default}}" value="{{synth_mincount_default}}">
</td>
</tr>
<tr><th style="vertical-align: bottom; text-align:left"></th>
<td>
    Maximum chemical price ($/g): </td><td><input type="number" id="max_ppg" style="width: 5em" max="{{max_ppg_default}}" value="{{max_ppg_default}}">
</td>
<td>
    Expansion time (s): </td><td><input type="number" id="expansion_time" style="width: 5em" min="5" max="600" value="{{expansion_time_default}}">
</td>
</tr>
</tbody>

<!-- Controls -->
<tr id="controls_wrapper" style="display:none"><th style="vertical-align: bottom; text-align:left">Controls:</th>
<td colspan="4">
    <button type="button" style="width:120px" id="start_retro">Start</button>
</td>
</tr>

</table>

<!-- Results -->
<div id="statistics"></div>
<br/>
<div id="results"></div>

{% endblock %}
