{% extends "base.html" %}

{% block title %}Retrosynthesis Planner{% endblock %}
{% block page_title %}Retrosynthesis Planner<span id="status"></span>{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url 'retro_interactive' %}">Planner</a>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block javascript %}
<script>
$("#id_smiles").change(function () {
    console.log( $(this).val() );
    $.ajax({
        url: '/ajax/smiles_to_image/',
        data: {
            smiles: $(this).val(),
        },
        dataType: 'json',
        success: function (data) {
            $("#status").html('');
            $("#statistics").html('');
            $("#results").html('');
            $("#start_retro").html('Start');
            if (data.err) {
                $("#target_mol").html('error! could not parse');
                $("#target_mol_wrapper").show();
                $("#controls_wrapper").hide();
                $("#settings_wrapper").hide();
            } else {
                $("#target_mol").html(data.html);
                $("#target_mol_wrapper").show();
                $("#controls_wrapper").show();
                $("#settings_wrapper").show();
                $("#id_smiles").val(data.smiles);
            }
        },
    });

});
$("#start_retro").click(function () {
    if ($("#start_retro").prop('disabled')) {
        alert('Be patient! It is running');
    } else {
        console.log('starting retro');
        $("#start_retro").prop('disabled', true);
        $("#status").html(': running...');
        $("#start_retro").html('Running...');
        $.ajax({
            url: '/ajax/start_retro_celery/',
            data: {
                smiles: $("#id_smiles").val(),
                max_depth: $("#max_depth").val(),
                max_branching: $("#max_branching").val(),
                retro_mincount: $("#retro_mincount").val(),
                expansion_time: $("#expansion_time").val(),
                max_ppg: $("#max_ppg").val(),
                chiral: $("#chiral").is(":checked"),
            },
            dataType: 'json',
            success: function (data) {
                if (data.err) {
                    alert(data.message);
                    $("#status").html(': failed?');
                } else {
                    $("#statistics").html(data.html_stats);
                    $("#results").html(data.html_trees);
                    $("#status").html(': done!');
                }
                $("#start_retro").html('Start');
                $("#start_retro").prop('disabled', false);
            }
        });
    }
});
$('#results').on('click', '.rxn', function(){
    console.log('clicked on a rxn box');
    smiles = $(this).attr("smiles");
    targetid = $(this).attr("targetid");
    necessaryreagent = $(this).attr("necessaryreagent");
    console.log(smiles);
    console.log(targetid);
    $.ajax({
        url: '/ajax/evaluate_rxnsmiles/',
        data: {
            smiles: smiles,
            synth_mincount: $("#synth_mincount").val(),
            necessary_reagent: necessaryreagent
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
            if (data.err) {
                alert(data.message);
            } else {
                $(".rxnbox" + targetid).css('background-color', data.html_color);
                $(".eval" + targetid).html(data.html);
            }
        }
    });
});
$('#results').on('click', '.hiderxn', function () {
    console.log('trying to hide a rxn');
    targetid = $(this).attr("targetid");
    console.log(targetid);
    $(".rxnbox" + targetid).closest('.tree').collapse("hide");
});
$('#results').on('click', '.blacklistrxn', function () {
    console.log('trying to blacklist a reaction');
    var smiles = $(this).attr("smiles");
    console.log(smiles);
    var desc = prompt("Please enter a reason (for your records only)", "no reason");
    if (desc) {
        var now = Date.now();
        var datetime = now.toString('MMMM dd, yyyy, hh:mm:ss tt');
        $.ajax({
            type: 'POST',
            url: '/ajax/user_blacklist_reaction/',
            data: {
                smiles: smiles,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                desc: desc,
                datetime: datetime,
            },
            dataType: 'json',
            success: function (data) {
                if (data.err) {
                    alert(data.err);
                } else {
                    alert('Blacklisted reaction "' + smiles + '" at ' + datetime);
                }
            }
        });
    };
});
// On load, if entries defined, switch it out
$(document).ready(function() {
    if ("{{target_mol}}" != "") {
        $("#id_smiles").val("{{target_mol}}");
        console.log('Found target from passed context');
    }
    if ($("#id_smiles").val() != "") {
        $("#id_smiles").trigger("change");
        console.log('triggered change in target definition');
    }
});
</script>

{% endblock %}


{% block page_body %}
<table class="table table-borderless table-nonfluid">

<tr><th>Target compound:</th><td colspan="4"><input id="id_smiles" maxlength="500" size="40" type="text"/></td></tr>

<tr><th>{% csrf_token %}</th></tr>

<!-- Placeholder for rendering image after a SMILES string is entered -->
<tr id="target_mol_wrapper" style="display:none"><th style="vertical-align: text-top">Parsed structure:</th><td id="target_mol" colspan="4"></td></tr>

<!-- Settings -->
<tbody id="settings_wrapper" style="display:none">
<tr><th>Settings:</th>

<td>
    Max. depth (1-9): <a href="#" data-toggle="tooltip" title="What is the maximum number of sequential reaction steps you would like to see in the results? This setting tells the tree builder when to stop expanding chemical nodes and 'give up' on unsuccessful branches. Because the tree builder roughly follows a depth-first search, a max depth that is too high may mean that the search is not able to explore many alternatives for the first retrosynthetic disconnection. We recommend that you set this number to equal 1 + the length of the shortest route you expect to find."><span class="glyphicon glyphicon-info-sign"></span></a>
</td>
<td>
    <input type="number" id="max_depth" min="1" max="9" style="width: 5em" value="{{max_depth_default}}">
</td>

<td>
    Max. branching factor: <a href="#" data-toggle="tooltip" title="What is the maximum branching ratio to use during expansion? The tree is built up using a heuristic-driven depth first search with truncated branching. That means that after a chemical node is expanded into possible precursors, we only keep the most promising ones to continue expanding. The scoring function used for this truncation favors (a) buyability, first and foremost, and (b) smaller chemicals with fewer ring atoms and chiral centers. We recommend choosing a value between 20 and 50. Please note that the use of an approximate depth-first search means that it is unlikely that all branches will be explored, especially if the branching ratio and depth are both large."><span class="glyphicon glyphicon-info-sign"></span></a>
</td>
    <td><input type="number" id="max_branching" min="1" max="200" style="width: 5em"value="{{max_branching_default}}">
</td>
</tr>
<tr><th></th>
<td>
    Min. retro template count: <a href="#" data-toggle="tooltip" title="What is the minimum template popularity you would like to use during the retrosynthetic expansion? We highly recommend leaving this at 0 unless you have a strong reason to only examine the most common chemistries. In that case, you could increase it to 50, 100, or 250. Note that the default value of 0 is not truly a minimum of 0 - rather, it uses all of the templates that have been pre-initialized by the expansion workers. The exact information about the templates used is displayed as a footnote."><span class="glyphicon glyphicon-info-sign"></span></a></td>
    <td><input type="number" id="retro_mincount" style="width: 5em" min="0" value="0">
</td>
<td>
    Min. synth template count: <a href="#" data-toggle="tooltip" title="What is the minimum template popularity you would like to use during the forward enumeration when evaluating suggested reactions? This setting does not affect the tree builder directly, but will affect any subsequent evaluations that you request (i.e., by clicking on the reaction nodes in the trees)."><span class="glyphicon glyphicon-info-sign"></span></a></td>
    <td><input type="number" id="synth_mincount" style="width: 5em" min="0" value="25">
</td>
</tr>
<tr><th></th>
<td>
    Maximum chemical price ($/g): <a href="#" data-toggle="tooltip" title="What is the maximum price per gram you are willing to pay for starting materials? We recommend that you keep this high for your initial search (e.g., $100/g). If you see a route that terminates in an expensive starting material and you would like to expand further, you can make that compound the target and decrease the maximum allowed price."><span class="glyphicon glyphicon-info-sign"></span></a></td>
    <td><input type="number" id="max_ppg" style="width: 5em" max="{{max_ppg_default}}" value="{{max_ppg_default}}">
</td>
<td>
    Expansion time (s): <a href="#" data-toggle="tooltip" title="How long would you like to let the expansion run for? Right now, the tree builder runs in the background and you will not see any results until it terminates based on this expansion time. The expansion time is highly dependent on the depth and branching ratio of your search. For shorter syntheses (~3 steps and ~25 branching), 60 seconds might be sufficient. For longer or broader syntheses, you may want to try up to 300 seconds. The maximum we allow is 600 seconds."><span class="glyphicon glyphicon-info-sign"></span></a></td>
    <td><input type="number" id="expansion_time" style="width: 5em" min="5" max="600" value="{{expansion_time_default}}">
</td>
</tr>
</tbody>

<!-- Controls -->
<tr id="controls_wrapper" style="display:none"><th style="vertical-align: bottom; text-align:left">Controls:</th>
<td colspan="1">
    <button type="button" style="width:120px" id="start_retro">Start</button>
</td>
<td colspan="3">
    <input type="checkbox" id="chiral" checked> Pay close attention to chirality <a href="#" data-toggle="tooltip" title="Would you like to spend a little extra computational effort to have reliable stereochemistry handling? We recommend that you keep this checked. It prevents the mis-application of chiral templates to achiral targets or achiral tempaltes to chiral targets."><span class="glyphicon glyphicon-info-sign"></span></a><br>
</td>

</tr>

</table>

<!-- Results -->
<div id="statistics"></div>
<br/>
<div id="results"></div>

{% endblock %}

