{% extends "base.html" %}

{% block title %}Retrosynthesis Planner{% endblock %}
{% block page_title %}Retrosynthesis Planner{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url 'main.views.retro' %}">Retro</a>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}

<p>Begin by entering in the SMILES string of the target molecule.</p>

{% if err %}
<div class="error">{{ err }}</div>
{% endif %}
{% if warn %}
<div class="warning">{{ warn }}</div>
{% endif %}

<form method="post" id="smiles_form" action="{% url 'retro_home' %}">
<table>
{{ form.as_table }}
	<th>{% csrf_token %}</th>
	<td>
		<input type="submit" value="Search" name="search">
	</td>
</table>
</form>

{% if suggestions %}
	<h4>Suggestions from the proposal:</h4>
	<table>
	{% for suggestion in suggestions %}
		<tr>
			<td><a href="{% url 'retro_target' suggestion.smiles %}">{{ suggestion.name }}</a></td>
			<td><img src="{% url 'draw_smiles' suggestion.smiles %}"></td>
		</tr>
	{% endfor %}
	</table>


{% endif %}

{% if target %}
	<h4>Target molecule: <font class="smiles">{{ target.smiles }}</font></h4>
	<img src="{{ target.img }}">

	<table class="table_precursors">
		<tr>
			<th>Rank</th>
			<th><font class="smiles">Precursor(s)</font></th>
			<th>Score</th>
			<th># Ex.</th>
		</tr>
		{% for precursor in precursors %}
		<tr>
			<td>{{ precursor.rank }}</td>
			<td>
				{% for mol in precursor.smiles_split %}
				<font class="smiles">
					<a href="{% url 'retro_target' mol %}">{{ mol }}</a>
				</font>
				{% if not forloop.last %} + {% endif %}{% endfor %}
				<a href="{% url 'synth_target' precursor.smiles %}">&rarr; ?</a>
				<br>
				<a><img src="{% url 'draw_smiles' precursor.smiles %}" onclick="toggle_visibility('tforms{{ precursor.rank }}');"></a>
				<div id='tforms{{ precursor.rank }}' style='display:none'>
				<font class="smiles"><b>Based on retrosynthetic transform template(s):</b></font><br>
				{% for tform in precursor.tforms %}
					<font class="smiles">
						<a href="{% url 'draw_template_page' tform.reaction_smarts %}">{{ tform.reaction_smarts }}</a>{% if tform.count %} (<a href="{% url 'template_target' tform.id %}">{{ tform.count }} examples</a>){% endif %}
					</font>{% if not forloop.last %}<br>{% endif %}
				{% endfor %}
				</div>
			</td>
			<td>{{ precursor.score }}</td>
			<td>{{ precursor.num_examples }}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}

{% if footnote %}
<br>
<div align="center"><i>{{ footnote }}</i></div>
{% endif %}

{% endblock %}

<p onclick="toggle_visibility('testhidden');"><a>Click me!</a></p>
<div id='testhidden' style='display:none'>hidden</div>