{% extends "base.html" %}

{% block title %}One-step Retrosynthesis{% endblock %}
{% block page_title %}One-step Retrosynthesis{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url 'main.views.retro' %}">One-step Retro</a>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}

<p>Begin by entering in the SMILES string of the target molecule.</p>

<form method="post" id="smiles_form" action="{% url 'retro_home' %}">
<table>
{{ form.as_table }}
	<th>{% csrf_token %}</th>
	<td>
		<input type="submit" value="Search (achiral)" name="retro">
		<!-- <input type="submit" value="Search (literature)" name="retro_lit"> -->
		<input type="submit" value="Search (chiral, slow)" name="retro_chiral">
	</td>
</table>
</form>

{% if suggestions %}
	<h4>Suggestions from the proposal:</h4>
	<table>
	{% for suggestion in suggestions %}
		<tr>
			<td><a href="{% url 'retro_target' suggestion.smiles %}">{{ suggestion.name }}</a></td>
			<td><img src="{% url 'draw_smiles' suggestion.smiles %}"></td>
		</tr>
	{% endfor %}
	</table>


{% endif %}

{% if target %}
	<h4>Target molecule: <font class="smiles">{{ target.smiles }}</font></h4>
	<img src="{{ target.img }}">
	<br>
	<br>
	<i>Please note that precursor sets are scored and sorted by a <b>very</b> crude heuristic function that tries to break the target into similarly-sized reactants with fewer rings and - on this page - have not been evaluated for plausibility in the forward direction.</i><br><br>
	<i>Also note that although chirality may be depicted in the images below, it is <b>not</b> considered when applying templates unless you explicitly use the slower, chiral templates.</i><br><br>
	<i>Results generated in {{ time }} seconds</i>
	<br>
	<br>

	<table class="table_precursors">
		<tr>
			<th>Rank</th>
			<th><font class="smiles">Precursor(s)</font></th>
			<th>Score</th>
			<th># Ex.</th>
		</tr>
		{% for precursor in precursors %}
		<tr>
			<td>{{ precursor.rank }}</td>
			<td>
				{% for mol in precursor.mols %}
				<font class="smiles">
					{% if lit_only %}
					<a href="{% url 'retro_lit_target' mol.smiles %}">{{ mol.smiles }}</a><i> ({{ mol.ppg }})</i>
					{% else %}
					<a href="{% url 'retro_target' mol.smiles %}">{{ mol.smiles }}</a><i> ({{ mol.ppg }})</i>
					{% endif %}
				</font>
				{% if not forloop.last %} + {% endif %}{% endfor %}
				<a href="{% url 'synth_interactive_target' precursor.smiles %}">&rarr; ?</a>
				<br>
				<a><img src="{% url 'draw_smiles' precursor.smiles %}" onclick="toggle_visibility('expand{{ precursor.rank }}');"></a>
				
				<div id='expand{{ precursor.rank }}' style='display:none'>	
					{% if precursor.tforms %}
					<font class="smiles"><b>Based on retrosynthetic transform template(s):</b></font><br>
					{% for tform in precursor.tforms %}
						<font class="smiles">
							<a href="{% url 'draw_template_page' tform.reaction_smarts %}">{{ tform.reaction_smarts }}</a>{% if tform.count %} (<a href="{% url 'template_target' tform.id %}">{{ tform.count }} examples</a>){% endif %}
						</font>{% if not forloop.last %}<br>{% endif %}
					{% endfor %}
					{% endif %}
					{% if precursor.rxid %}
					<font class="smiles"><b>Based on Reaxys reaction ID: <a href="{% url 'rxid_target' precursor.rxid %}">{{ precursor.rxid }}</a></b></font>
					{% endif %}
				</div>
				
			</td>
			<td>{{ precursor.score }}</td>
			<td>{{ precursor.num_examples }}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}

{% if footnote %}
<br>
<div align="center"><i>{{ footnote }}</i></div>
{% endif %}

{% endblock %}

<p onclick="toggle_visibility('testhidden');"><a>Click me!</a></p>
<div id='testhidden' style='display:none'>hidden</div>