{% extends "base.html" %}

{% block title %}One-step Retrosynthesis{% endblock %}
{% block page_title %}One-step Retrosynthesis{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url 'retro_home' %}">One-step Retro</a>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}

<p>Begin by entering in the SMILES string or name of the target molecule, or choose from one of the proposal targets below.</p>

<form method="post" id="smiles_form" action="{% url 'retro_home' %}">
<table class="table table-borderless table-nonfluid">
    <tr>
        <td>Target compound:</td>
        <td>
            <input id="id_smiles" maxlength="400" name="smiles" type="text" value="{{ form.smiles }}">
        </td>
    </tr>
    <tr>
        <td>Template prioritization:</td>
        <td>
            <select id="id_template_prioritzation" name="template_prioritization">
                <option value="Popularity" {% if form.template_prioritization == 'Popularity' %}selected{% endif %}>Apply all templates</option>
                <option value="Relevance"  {% if form.template_prioritization == 'Relevance' %}selected{% endif %}>Apply relevant templates</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Precursor scoring:</td>
        <td>
            <select id="id_precursor_prioritization" name="precursor_prioritization">
                <option value="Heuristic" {% if form.precursor_prioritization == 'Heuristic' %}selected{% endif %}>Heuristic</option>
                <option value="SCScore"  {% if form.precursor_prioritization == 'SCScore' %}selected{% endif %}>SCScore</option>
                <option value="Natural"  {% if form.precursor_prioritization == 'Natural' %}selected{% endif %}>Natural ordering</option>
            </select>
        </td>
    </tr>
    <th>{% csrf_token %}</th>
    <td>
        <!-- <input type="submit" value="Search (achiral)" name="retro"> -->
        <!-- <input type="submit" value="Search (literature)" name="retro_lit"> -->
        <input type="submit" value="Search" name="retro">
    </td>
</table>
</form>

{% if suggestions %}
    <table>
    {% for suggestion in suggestions %}
        <tr>
            <td>
                <a href="{% url 'retro_target' suggestion.smiles %}">{{ suggestion.name }}</a><br>
                <a href="{% url 'retro_interactive_target' suggestion.smiles %}"><i>tree builder</i></a>
            </td>
            <td><img src="{% url 'draw_smiles' suggestion.smiles %}"></td>
        </tr>
    {% endfor %}
    </table>


{% endif %}

{% if target %}
    <h5>Target molecule: <font class="smiles">{{ target.smiles }}</font></h5>
    <img src="{{ target.img }}" alt="{{ target.smiles }}">
    <br>
    <br>
    <i>Results generated in {{ time }} seconds</i>
    <br>
    <br>

    <table class="table table_precursors" id="results">
        <thead>
            <tr>
                <th>Rank</th>
                <th><font class="smiles"><center>Precursor(s)</center></font></th>
                <th>Score</th>
                <th># Examples</th>
            </tr>
        </thead>
        <tbody>
        {% for precursor in precursors %}
        <tr>
            <td>{{ precursor.rank }}</td>
            <td>
                {% for mol in precursor.mols %}
                <font class="smiles">
                    {% if lit_only %}
                    <a href="{% url 'retro_lit_target' mol.smiles %}">{{ mol.smiles }}</a><i> ({{ mol.ppg }})</i>
                    {% else %}
                    <a href="{% url 'retro_target' mol.smiles %}">{{ mol.smiles }}</a><i> ({{ mol.ppg }})</i>
                    {% endif %}
                </font>
                {% if not forloop.last %} + {% endif %}{% endfor %}
                <a href="{% url 'synth_interactive_target2' precursor.smiles target.smiles %}">&rarr; ?</a>
                <br>
                <a><img src="" data-async-load="{% url 'draw_smiles' precursor.smiles %}" alt="{{ precursor.smiles }}" onclick="toggle_visibility('expand{{ precursor.rank }}');"></a>
                
                <div id='expand{{ precursor.rank }}' style='display:none'>  
                    {% if precursor.tforms %}
                    <font class="smiles"><b>Based on retrosynthetic transform template(s):</b></font><br>
                    {% for tform in precursor.tforms %}
                        <font class="smiles">
                            <a href="{% url 'template_target' tform.id %}">Template {{ tform.id }} ({{ tform.count }} examples)</a>
                        </font>{% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if precursor.rxid %}
                    <font class="smiles"><b>Based on Reaxys reaction ID: <a href="{% url 'rxid_target' precursor.rxid %}">{{ precursor.rxid }}</a></b></font>
                    {% endif %}
                </div>
                
            </td>
            <td>{{ precursor.score }}</td>
            <td>{{ precursor.num_examples }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if footnote %}
<br>
<div align="center"><i>{{ footnote }}</i></div>
{% endif %}

{% endblock %}
