{% extends "base.html" %}

{% block title %}Forward Synthesis{% endblock %}
{% block page_title %}Forward Synthesis{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url 'main.views.synth' %}">Synth</a>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}

<p>Begin by entering in the SMILES string of the reactant(s), using a period to concatenate multiple species.</p>

<form method="post" id="smiles_form" action="{% url 'synth_home' %}">
<table>
{{ form.as_table }}
	<th>{% csrf_token %}</th>
	<td>
		<input type="submit" value="Search" name="search">
	</td>
</table>
</form>

{% if target %}
	<h4>Starting molecules: <font class="smiles">{{ target.smiles }}</font></h4>
	<img src="{{ target.img }}">

	<table class="table_precursors">
		<tr>
			<th>Rank</th>
			<th><font class="smiles">Product(s)</font></th>
			<th># Ex.</th>
		</tr>
		{% for product in products %}
		<tr>
			<td>{{ product.rank }}</td>
			<td>
				<a href="{% url 'synth_target' product.smiles %}">
					<font class="smiles">
						{% for mol in product.smiles_split %}
						{{ mol }}{% if not forloop.last %} + {% endif %}
						{% endfor %}
					</font>
				</a>
				
				<br>
				<a><img src="{% url 'draw_smiles' product.smiles %}" onclick="toggle_visibility('expand{{ product.rank }}');"></a>
				<div id='expand{{ product.rank }}' style='display:none'>
				<font class="smiles"><b>Based on forward transform template(s):</b></font><br>
				{% for tform in product.tforms %}
					<font class="smiles">
						<a href="{% url 'main.views.draw_template_page' tform.reaction_smarts %}">{{ tform.reaction_smarts }}</a>{% if tform.count %} (<a href="{% url 'template_target' tform.id %}">{{ tform.count }} examples</a>){% endif %}
					</font>{% if not forloop.last %}<br>{% endif %}
				{% endfor %}
				</div>
			</td>
			<td>{{ product.num_examples }}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}

{% if footnote %}
<br>
<div align="center"><i>{{ footnote }}</i></div>
{% endif %}

{% endblock %}
