{% extends "base.html" %}

{% block title %}Template details{% endblock %}
{% block page_title %}Template {{ template.id }}{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}

{% if template %}
<h5>
	Template: <font class="smiles">{{ template.reaction_smarts }}</font><br>
</h5> 
{% if total_references %}
<p>
	{{ total_references }} total references
</p>
{% endif %}

<img src="{% url 'draw_template' template.reaction_smarts %}" alt="{{ template.reaction_smarts }}">

{% if template.necessary_reagent %}
<p><i>Note: this reaction would require a reagent to contribute {{ template.necessary_reagent }}</i></p>
{% endif %}

{% if template.intra_only %}
<p><i>Note: this template should be used for intramolecular reactions <b>only</b></i></p>
{% endif %}

{% if template.chiral %}
<p><i>Note: this template looks like it might contain chiral specifications - tetrahedral chirality is not depicted in the template drawing currently</i></p>
{% endif %}

<!-- {% if suggested_conditions %}
<h4>
	Most popular conditions:
</h4>
<table>
	{% for condition in suggested_conditions %}
	<tr><td>{{ condition }}</td></tr>
	{% endfor %} 
</table>
{% endif %} -->

<br><br>
<div width="100%">
<table class="table table-sm table-bordered table_templates">
<thead>
<tr>
	<th width="10%" rowspan=2 style="vertical-align:middle">Rxn ID</th>
	<th width="10%" rowspan=2 style="vertical-align:middle">Instance</th>
	<th width="70%" colspan=7 style="text-align:center">Reaction</th>
	<th width="10%" rowspan=2 style="vertical-align:middle">Entry Date</th>
</tr>
<tr>
	<th width="10%">Yield [%]</th>
	<th width="15%">Reagent(s)</th>
	<th width="15%">Catalyst(s)</th>
	<th width="15%">Solvent(s)</th>
	<th width="5%">Temp. [C]</th>
	<th width="5%">Time [h]</th>
	<th width="10%">Other</th>
</tr>
</thead>
<tbody>
{% for ref in references %}
<tr>
	<td width="10%" rowspan=2 style="vertical-align:middle">{{ ref.rx_id }}</td>
	<td width="10%" rowspan=2 style="vertical-align:middle">{{ ref.rxd_num }} of {{ ref.nvar }}</td>
	<td width="70%" colspan=7><img src="" data-async-load="{% url 'draw_reaction' ref.smiles %}" alt="{{ ref.smiles }}" width="100%"></td>
	<td width="10%" rowspan=2 style="vertical-align:middle">{{ ref.ded }}</td>
</tr>
<tr>
	<td width="10%">{{ ref.y }}</td>
	<td width="15%">{{ ref.reagents }}</td>
	<td width="15%">{{ ref.catalysts }}</td>
	<td width="15%">{{ ref.solvents }}</td>
	<td width="5%">{{ ref.T }}</td>
	<td width="5%">{{ ref.t }}</td>
	<td width="10%">{{ ref.cond }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endif %}

{% endblock %}

