{% extends "base.html" %}

{% block title %}Image{% endblock %}
{% block page_title %}Template source(s){% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}

{% if template %}
<h4>
	Template: <font class="smiles">{{ template.reaction_smarts }}</font><br>
</h4> 
{% if total_references %}
<p>
	{{ total_references }} total references
</p>
{% endif %}

<img src="{% url 'draw_template' template.reaction_smarts %}" >

{% if template.necessary_reagent %}
<p><i>Note: this reaction would require a reagent to contribute {{ template.necessary_reagent }}</i></p>
{% endif %}

{% if suggested_conditions %}
<h4>
	Most popular conditions:
</h4>
<table>
	{% for condition in suggested_conditions %}
	<tr><td>{{ condition }}</td></tr>
	{% endfor %} 
</table>
{% endif %}

{% for reference in references %}
	<h5>{{ reference.label }}</h5><br>
<!-- 		<font class="smiles">
			{{ reference.reaction_smiles }}</a>
		</font><br> -->
		<img src="{% url 'draw_reaction' reference.reaction_smiles %}" width=60%><br>
	<br><br>
{% endfor %}

{% endif %}

{% endblock %}
