{% extends "base.html" %}

{% block title %}Synthesis Tree{% endblock %}
{% block page_title %}Synthesis Tree{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}
<h2>Target: {{ target }}</h2>

{% for tree in trees %}
{% if trees|length > 1 %}
<h3>Option {{ forloop.counter }}, score = {{ tree.score }}</h3>
{% endif %}
<div class="tree">
	<ul>
		<li>
			{% include 'tree_child.html' with target=tree %}
		</li>
	</ul>
	<!-- Fix height of tree block -->
	<div class="clear"></div>
</div>
<div class="clear"></div>

{% if not forloop.last %}
<br><br>
{% endif %}

{% endfor %}

{% endblock %}
