<!-- Describe this node -->

{% if target.is_chemical %}

<div id="{{ target.id }}" class="chem">
<a class="treetooltip treebox" style="border-color: {% if target.ppg %}green{% else %}orange{% endif %}">
<img src="" data-async-load="{% url 'draw_smiles' target.smiles %}" alt="{{ target.smiles }}" width="75%">
<div>
	<center>
		<font class="smiles">{{ target.smiles }}</font>
        {% if target.score %}<br>score: {{ target.score }}{% endif %}
		{% if target.ppg %}<br>${{ target.ppg }}/g{% endif %}
	</center>
</div>
</a>
</div>

{% else %} 

<div>
<a targetid="{{ target.id }}" class="treetooltip treetooltip{{ target.id }} treebox rxnbox{{ target.id }}" style="border-color:black">
{% if target.num_examples %}{{ target.num_examples }} examples{% endif %}
<div style="width:300px">
    <center>
        <span class="rxn rxn{{ target.id }} eval{{ target.id }}" smiles="{{ target.smiles }}" necessaryreagent="{{ target.necessary_reagent }}" targetid="{{ target.id }}"><span class="pseudolink">Click to evaluate (v0.1)!</span></span><br>
        {% if target.info %}{{ target.info }}<br>{% endif %}
        {% if target.necessary_reagent %}Needs source of {{ target.necessary_reagent }}<br>{% endif %}
        <br>Based on templates...
        {% for tform in target.tforms %}
        <br><span class="pseudolink" onclick="window.open('{% url 'template_target' tform %}')">Template {{ tform }}</span>
        {% endfor %}
        <br><br><span class="pseudolink" onclick="window.open('{% url 'synth_interactive_target_smiles' target.smiles %}')"><i>Evaluate in new tab</i></span>
    </center>
</div>
</a>
</div>

{% endif %}


<!-- Now add children recursively -->
{% if target.children %}
{% if target.children|length > 0 %}
    <ul>
        {% for child in target.children %}
        <li>
            {% include 'tree_child.html' with target=child %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% endif %}