{% for tree in trees %}
<h3 style="display:inline">Option {{ forloop.counter }}</h3>
{% if can_control_robot %}<a target="_blank" href="{% url 'export_retro_results' forloop.counter %}">send</a>  {% endif %}
<a data-toggle="collapse" href="#tree{{ forloop.counter}}">
    <span class="if-collapsed">show</span>
    <span class="if-not-collapsed">hide</span>
</a>
<div class="tree in" id="tree{{ forloop.counter }}">
	<ul>
		<li>
			{% include 'tree_child.html' with target=tree %}
		</li>
	</ul>
	<!-- Fix height of tree block -->
	<div class="clear" style="clear:both"></div>
</div>

{% if not forloop.last %}
<br><br>
{% endif %}
{% endfor %}