{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">


<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}ASKCOS{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Our CSS (overrides) -->
    <link href="{% static 'default.css' %}?v3" rel="stylesheet" type="text/css"/>
    <script src="{% static 'default.js' %}"></script>
    <script src="{% static 'date.js' %}"></script>
    <!-- Javascript drawing -->
    <script src="{% static 'jsme/jsme/jsme.nocache.js' %}"></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
{% csrf_token %}

<div id="document">


    <nav class="navbar navbar-inverse  navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">
                    ASKCOS
                    <span class="org-text">{{ organization }}</span>
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-th-large"></span> Modules
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'modules' %}">Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{% url 'retro_home' %}">One-step Retrosynthesis</a>
                        </li>

                        <li>
                            <a href="{% url 'retro_network' %}">Interactive Path Planning</a>
                        </li>

                        <li>
                            <a href="{% url 'retro_interactive_mcts' %}">Tree Builder (Path Planning)</a>
                        </li>

                        <li>
                            <a href="{% url 'context_rxnsmiles' %}">Context Recommendation</a>
                        </li>

                        <li>
                            <a href="{% url 'synth_interactive' %}">Forward Prediction</a>
                        </li>

                        <li>
                            <a href="{% url 'evaluate_rxnsmiles' %}">Reaction Evaluation</a>
                        </li>

                        <li>
                            <a href="{% url 'site_prediction' %}">Site Selectivity</a>
                        </li>

                        <li>
                            <a href="{% url 'scscoring' %}">SCScore Evaluator</a>
                        </li>


                        <li>
                            <a href="{% url 'buyables' %}">Buyable Look-up</a>
                        </li>

                        <li>
                            <a href="{% url 'draw' %}">Drawing</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-question-sign"></span> Help
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'tutorial' %}">Tutorial</a></li>
                    </ul>
                </li>

                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cloud"></span> My Results
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="savepage">Save this page</a></li>
                        <li><a href="/my-results/">View results</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-ban-circle"></span> My Banlist
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user_blacklisted_reactions' %}">View banned reactions</a></li>
                        <li><a href="{% url 'user_blacklisted_chemicals' %}">View banned chemicals</a></li>
                    </ul>
                </li>
                {% endif %}

                <li><a href="/status/"><span class="glyphicon glyphicon-tasks"></span> Server Status</a></li>

                <li><a id="support-anchor"><span class="glyphicon glyphicon-comment"></span> Support</a></li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span> Settings
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'password_change' %}">Change password</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'django_registration_register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="{% url 'login' %}?next={{ request.path }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>


    <div class="container" style="margin-top:50px; margin-bottom:24pt; width:80%" >
        {% if err or warn %}
        <div style="padding-top:10px">
            {% if err %}
            <div class="error">{{ err | safe}}</div>
            {% endif %}
            {% if warn %}
            <div class="warning">{{ warn | safe}}</div>
            {% endif %}
        </div>
        {% endif %}

        <div id="contents">
            <div class="page-header"><h1>{% block page_title %}ASKCOS{% endblock %}</h1></div>
            {% block page_body %}Looks like there is nothing here!{% endblock %}
        </div>

    </div>


        <footer class="footer">
            <div class="container">
                {% block footer %}
                ASKCOS v{{ version_number }} Copyright &copy; 2019,
                Created using <a href="http://www.djangoproject.com/">Django</a>.
                <!--
                Secret changelog!
                - v0.1.1 was released after major rewrite
                - v0.1.2 was released when relevance prioritizer finished
                - v0.1.3 was released when buyable database changed to ignore LabNetwork
                - v0.1.4 was released with massive UI overhaul and integration of fast filter
                - v0.1.5 was released with new context rec. weights and SCScore module
                - v0.1.6 was released with a larger retrosynthetic template set
                - v0.1.7 was released with new template-free forward predictor
                - v0.2 was released with the new best first search
                - v0.2.1 was released with new server
                - v0.2.2 was released with docker deployment
                - v0.2.3 was released with small bugfixes and feature introduction
                - v0.3.0 was released with interactive path planner and API
                - v0.3.1 was released with asynchronous tree builder jobs
                 -->
                {% endblock %}
            </div>
        </footer>
    </div>

</div>

<div class="support-popup">
  <div id="support-form" class="support-form">
    <div class="form-group">
      <label for="support-module">Select Module: </label>
      <select id="support-module" class="form-control">
        <option value="onestep">One-step Retrosynthesis</option>
        <option value="pathplanner">Interactive Path Planning</option>
        <option value="treebuilder">Tree Builder</option>
        <option value="context">Context Recommendation</option>
        <option value="forward">Forward Prediction</option>
        <option value="general">General</option>
      </select>
    </div>
    <div class="form-group">
      <label for="support-category">Select issue/problem category: </label>
      <select id="support-category" class="form-control">
        <option value="bug">Report a bug</option>
        <option value="enhancement">Request an enhancement</option>
        <option value="documentation">Documentation</option>
        <option value="general">General Query</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input id="support-shared" type="checkbox"> I wish to share this information with other Consortium members.
      </label>
    </div>
    <div class="form-group">
      <label for="support-subject">Email subject line: </label>
      <input id="support-subject" type="text" class="form-control" placeholder="Subject line (max length: 150 characters)" maxlength="150" autocomplete="off">
    </div>
    <div class="text-center">
      <button id="support-submit" class="btn btn-success">Submit</button>
      <button id="support-cancel" class="btn btn-danger">Cancel</button>
    </div>
    <div>
      NOTE: Clicking "Submit" should launch your email client to send us an email. If this is blocked for some reason, please include the above information in an email you compose separately to {{ contact_email }}.
    </div>
  </div>
</div>

<script src="{% static 'support.js' %}"></script>

<script type="text/javascript">
$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});
$(document).ajaxStart(function() {
    $(document.body).css({'cursor' : 'wait'});
}).ajaxStop(function() {
    $(document.body).css({'cursor' : 'default'});
});
$(document).ready(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
});
$(document).ready(function() {
  $('.nav li').hover(function() {
    $('.linkdesc', this).stop(true, true).slideDown('fast');
    $(this).addClass('open');
          }, function() {
    $('.linkdesc', this).stop(true, true).slideUp('fast');
    $(this).removeClass('open');
  });
});
// This JSFiddle is part of a tutorial written by Zach Alam (zachalam.com)
// You can view the complete tutorial and more background information
// by visiting the following URL:
// https://zachalam.com/using-ajax-and-jquery-to-load-images-asynchronously/
// verify the DOM is completely loaded.
$(document).ready(function() {
// check for images in view when page loads.
load_images_in_view();
// check for images in view when page scrolls.
$(window).scroll(load_images_in_view);
function load_images_in_view() {
    // a scroll was detected - check all images in DOM
    $("img").each(function() {
        // calculate the halfway to the bottom of the object.
        var object_bottom = $(this).offset().top + ($(this).outerHeight()/2);
        // calculate the bottom of the window.
        var window_bottom = $(window).scrollTop() + $(window).height();

        if(window_bottom > object_bottom)
        {
                // check to see if a flag was set,
                // so we don't constantly reload this image
                if($(this).data("image-loaded") != true)
                {
                    // obtain the image to replace
                    var image_source = $(this).data("async-load");

                   // set image loaded complete flag, and change image src.
                    $(this).data("image-loaded",true);
                    $(this).attr("src",image_source);
                }
        }

    }); // end $("img").each()
}}); // end $(document).ready();
$("#savepage").click(function () {
    console.log('saving this page...');
    var desc = prompt("Please enter a description for this page", "no description");
    if (desc) {
        var now = Date.now();
        var datetime = now.toString('MMMM dd, yyyy, hh:mm:ss tt');
        $.ajax({
            type: 'POST',
            url: '/ajax/user_save_page/',
            data: {
                html: $("#contents").html(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                desc: desc,
                datetime: datetime,
            },
            dataType: 'json',
            success: function (data) {
                if (data.err) {
                    alert(data.err);
                } else {
                    alert('Saved "' + desc + '" at ' + datetime);
                }
            }
        });
    };
});
// For drawing
function jsmeOnLoad() {
    jsmeApplet = new JSApplet.JSME("jsme_container", "565px", "400px");
};
// set the value of an ID with the current SMILES string
// note: assumes drawBoxID has been assigned as global var!
function setSmilesText() {
    var data = jsmeApplet.smiles();
    document.getElementById(drawBoxId).value = data;
    $("#" + drawBoxId).trigger("change");
};
// set the drawing to match the SMILES string of a certain id's value
function setSmilesDrawing(id) {
    var smi = $("#" + id).val();
    if(smi) {
        jsmeApplet.readGenericMolecularInput(smi);
    } else {
        jsmeApplet.reset();
    };
};
// onclick action for drawing popup
function drawBox(id) {
    setSmilesDrawing(id);
    drawBoxId = id;
};
</script>
{% block javascript %}{% endblock %}
</body>
</html>
