{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">


<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}ASKCOS{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Our CSS (overrides) -->
    <link href="{% static 'default.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'default.js' %}"></script>
    <script src="{% static 'date.js' %}"></script>
</head>

<body>
{% csrf_token %}


<div id="document">
    <div id="sidebar">
        <div id="logo">
        {% block sidebar_logo %}<a href="{% url 'main.views.index' %}">ASKCOS</a>{% endblock %}
        </div>

        <ul class="nav nav-tabs nav-stacked navbar-fixed-left">
        
        {% block sidebar_items %}{% endblock %}

        <li {% if '/retro/' in request.path %}class="active"{% endif %}>
            <a href="{% url 'main.views.retro' %}">
            <div class="biglink">One-step Retro</div>
            <div class="linkdesc" style="display:none">
                Examine one-step precursors for a target molecule, purely based on retro templates
            </div></a>
        </li>

        <li {% if '/retro_interactive/' in request.path %}class="active"{% endif %}>
            <a href="{% url 'main.views.retro_interactive' %}">
            <div class="biglink">Tree builder</div>
            <div class="linkdesc" style="display:none">
                Generate and view possible synthesis plans, with manual step-wise evaluation
            </div></a>
        </li>

        <li {% if '/synth_interactive/' in request.path %}class="active"{% endif %}>
            <a href="{% url 'main.views.synth_interactive' %}">
            <div class="biglink">Forward Prediction</div>
            <div class="linkdesc" style="display:none">
                Predict the outcome of a chemical reaction by specifying the reactants and context
            </div></a>
        </li>

        <li {% if '/evaluate/' in request.path %}class="active"{% endif %}>
            <a href="{% url 'main.views.evaluate_rxnsmiles' %}">
            <div class="biglink">Reaction Evaluation</div>
            <div class="linkdesc" style="display:none">
                Predict if a reaction will succeed by specifying the reactants and intended product
            </div></a>
        </li>


        <li {% if '/price/' in request.path %}class="active"{% endif %}>
            <a href="{% url 'main.views.pricing' %}">
            <div class="biglink">Buyable Look-up</div>
            <div class="linkdesc" style="display:none">
                Check to see if a chemical is in the buyables database
            </div></a>
        </li>

        <li {% if '/draw/' in request.path %}class="active"{% endif %}>
            <a href="{% url 'main.views.draw' %}">
            <div class="biglink">Drawing</div>
            <div class="linkdesc" style="display:none">
                Draw molecules, reactions, or templates from SMILES/SMARTS strings
            </div></a>
        </li>

        </ul>

    </div>

    <div id="mainbar">
        <div id="header">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.username }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" id="savepage">Save this page</a></li>
                    <li><a href="{% url 'user_saved_results' %}">See saved results</a></li>
                    <li><a href="{% url 'user_blacklisted_reactions' %}">See blacklisted reactions</a></li>
                    <li><a href="registration/password/change/">Change password</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
            {% endif %}
        </div>
        <div id="main">
            <div id="navbar">
                <a href="{% url 'main.views.index' %}">ASKCOS</a> &raquo;
                {% block navbar_items %}{% endblock %}
            </div>

            <div id="contents">
            
                {% if err %}
                <div class="error">{{ err }}</div>
                {% endif %}
                {% if warn %}
                <div class="warning">{{ warn }}</div>
                {% endif %}

                <h1>{% block page_title %}ASKCOS{% endblock %}</h1>

                {% block page_body %}ASKCOS{% endblock %}
            </div>
            
        </div>

        <div id="footer">
            {% block footer %}
            Copyright &copy; 2017,
            Created using <a href="http://www.djangoproject.com/">Django</a>.
            {% endblock %}
        </div>
        
    </div>
</div>
<script type="text/javascript">
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
$(document).ajaxStart(function() {
    $(document.body).css({'cursor' : 'wait'});
}).ajaxStop(function() {
    $(document.body).css({'cursor' : 'default'});
});
$(document).ready(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
});
$(document).ready(function() {    
  $('.nav li').hover(function() {
    $('.linkdesc', this).stop(true, true).slideDown('fast');
    $(this).addClass('open');
          }, function() {
    $('.linkdesc', this).stop(true, true).slideUp('fast');
    $(this).removeClass('open');
  });
});
// This JSFiddle is part of a tutorial written by Zach Alam (zachalam.com)
// You can view the complete tutorial and more background information
// by visiting the following URL:
// https://zachalam.com/using-ajax-and-jquery-to-load-images-asynchronously/
// verify the DOM is completely loaded.
$(document).ready(function() {
// check for images in view when page loads.
load_images_in_view();
// check for images in view when page scrolls.
$(window).scroll(load_images_in_view); 
function load_images_in_view() {
    // a scroll was detected - check all images in DOM
    $("img").each(function() {
        // calculate the halfway to the bottom of the object.
        var object_bottom = $(this).offset().top + ($(this).outerHeight()/2);
        // calculate the bottom of the window.
        var window_bottom = $(window).scrollTop() + $(window).height();

        if(window_bottom > object_bottom)
        {      
                // check to see if a flag was set,
                // so we don't constantly reload this image
                if($(this).data("image-loaded") != true)
                {
                    // obtain the image to replace
                    var image_source = $(this).data("async-load");
      
                   // set image loaded complete flag, and change image src.
                    $(this).data("image-loaded",true);
                    $(this).attr("src",image_source);
                }      
        }
    
    }); // end $("img").each()  
}}); // end $(document).ready();
$("#savepage").click(function () {
    console.log('saving this page...');
    var desc = prompt("Please enter a description for this page", "no description");
    if (desc) {
        var now = Date.now();
        var datetime = now.toString('MMMM dd, yyyy, hh:mm:ss tt');
        $.ajax({
            type: 'POST',
            url: '/ajax/user_save_page/',
            data: {
                html: $("#contents").html(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                desc: desc,
                datetime: datetime,
            },
            dataType: 'json',
            success: function (data) {
                if (data.err) {
                    alert(data.err);
                } else {
                    alert('Saved "' + desc + '" at ' + datetime);
                }
            }
        });
    };
});
</script>
{% block javascript %}{% endblock %}
</body>
</html>